{% extends "reciclaje/vistadm.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow" style="max-width: 500px;">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Ficha del Usuario</h4>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <tr>
                    <th scope="row" class="text-muted" style="width: 40%;">RUT:</th>
                    <td><strong>{{ usuario.rut }}</strong></td>
                </tr>
                <tr>
                    <th scope="row" class="text-muted">Nombre:</th>
                    <td>{{ usuario.nombre }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-muted">Apellido:</th>
                    <td>{{ usuario.apellido }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-muted">Rol / Cargo:</th>
                    <td><span class="badge bg-primary">{{ usuario.id_rol }}</span></td>
                </tr>

                <tr>
                    <th scope="row" class="text-muted">telefono:</th>
                    <td><span class="badge bg-primary">{{ usuario.telefono }}</span></td>
                </tr>

                <tr>
                    <th scope="row" class="text-muted">correo electronico:</th>
                    <td><span class="badge bg-primary">{{ usuario.correo }}</span></td>
                </tr>

                <tr>
                    <th scope="row" class="text-muted">Estado:</th>
                    <td>
                        {% if usuario.user.is_active %}
                            <span class="badge bg-success">Activo</span>
                        {% else %}
                            <span class="badge bg-danger">Inactivo</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-muted">Creado el:</th>
                    <td>{{ usuario.fecha_creacion|date:"d/m/Y H:i" }}</td>
                </tr>
            </table>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-2 pt-3 border-top">
            
            <a href="{% url 'vistaepds' %}" class="btn btn-success px-3" style="width: 132px;">Volver al listado</a>
            
            <a href="{% url 'eliminar_empleado' usuario.pk %}" class="btn btn-danger px-3" style="width: 132px; "  >Eliminar empleado</a>
            
            <a href="{% url 'actualizar_empleado' usuario.pk %}" class="btn btn-primary px-3" style="width: 132px;">Actualizar empleado</a>

        </div>
    </div>
</div>
{% endblock content %}